name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/pnpm-ci.yml@894b5b5d4d00aa34612d102b7a7721fd7bc4fc3b # v7.2.4

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@894b5b5d4d00aa34612d102b7a7721fd7bc4fc3b # v7.2.4
