name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/pnpm-ci.yml@d94b65a56e0f50cbbd674bc019f732bd606d7063 # v5.0.0

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@d94b65a56e0f50cbbd674bc019f732bd606d7063 # v5.0.0
