name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/pnpm-ci.yml@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0
