name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/alex-c-line' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@78be199abfba7efedbc8a151b98a58963038cad7 # v4.0.4
    secrets:
      PAT_GITHUB: ${{ secrets.ALEX_UP_BOT_GITHUB_TOKEN }}
