name: Create GitHub Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  create-github-release:
    if: ${{ github.repository == 'alextheman231/alex-c-line' }}
    uses: alextheman231/github-actions/.github/workflows/create-github-release.yml@d94b65a56e0f50cbbd674bc019f732bd606d7063 # v5.0.0
    secrets:
      PAT_GITHUB: ${{ secrets.ALEX_UP_BOT_GITHUB_TOKEN }}
